body {
    width: 300px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    transform: translateY(+50%);
    align-items: center;
  }
  
  .tooltip:hover .tooltipGhost {
    display: inline-block;
  }


.tooltipGhost{
    display: none;
    position: absolute;
    background-color: rgb(190, 190, 190);
    line-height: 20px;
    z-index: 1;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(44, 43, 43);
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    left: 0;
    right: 0;
    top: -40px;
  }

 
  
  .tooltipText::after{
    content: "";
    display: block;
    border-top: 7px solid gray;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 43px;
  }